<div class="text-center">
    @{
        var a =10;
        var b = 20;
    }
    <b>a</b>degeri=@a
    <br/>
    <b>b</b> degeri=@b
    <br/>
    İki sayınını toplamı <span style="color: red; font-size: larger;">@(a+b)</span>
</div>